<h1>Welcome to Ruby Review</h1>
<%= link_to "View/Edit Reviews", reviews_path %><br />
<%= link_to "View/Edit Team Members", team_members_path %><br />
<%= link_to "View/Edit Questions", questions_path %>